<div class="row">
    <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-1 pb-1">
              <h6 class="text-white text-capitalize ps-3">Voici la liste des encadrements</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label class="form-label">Type here...</label>
                <input type="text" (keyup)="doFilter($event)" class="form-control">
              </div>
            </div>
              <div class="table-responsive p-0" style="overflow: auto; max-height: 200px;"> <!-- Apply overflow and max-height -->
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">No.</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">SUJET</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ETUDIANT</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr *ngFor="let e of filredSfes; let i = index">
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{i+1}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{e.sujet}}</h6>
                          </div>
                        </div>
                      </td>
                    <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{e.etudiant}}</h6>
                          </div>
                        </div>
                    </td>
                    <td>
                    <div class="d-flex px-2 py-1" >
                      <button type="button" class="btn btn-outline-info btn-sm" style="margin-right: 5px;" (click)="afficher(e.id)">Liste</button>
                      <button type="button" class="btn btn-outline-success btn-sm" style="margin-right: 5px;"  data-toggle="modal" data-target="#exampleModal" (click)="setId(e.id)">Envoyer</button>
                      <button type="button" class="btn btn-outline-dark btn-sm" style="margin-right: 5px;"  (click)="goToTrello(e.id)">
                        Trello
                      </button>
                    </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
          </div>
        </div>
        <hr>
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-info shadow-primary border-radius-lg pt-1 pb-1">
                    <h6 class="text-white text-capitalize ps-3">Voic La liste des commenetaires</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0" style="overflow: auto; max-height: 200px;"> <!-- Apply overflow and max-height -->
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">No.</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">ECRIT PAR</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">COMMENTAIRE</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">DATE</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of commentaires;let i = index">
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{i+1}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <span class="badge badge-sm bg-gradient-success" *ngIf="verif(c.owner)" >{{c.owner}}</span>
                                            <span class="badge badge-sm bg-gradient-warning" *ngIf="!verif(c.owner)" >{{c.owner}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{c.commentaire}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{c.date | date:'short'}}</h6>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Envoi d'un commentaire</h5>
              <button type="button" class="btn-close btn-dark" (click)="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="commentaireForm" (ngSubmit)="onSubmit()"  role="form" class="text-start">
                <div class="input-group input-group-outline my-3">
                  <input type="texarea" class="form-control"   formControlName="commentaire">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" (click)="closeModal()" data-bs-dismiss="modal">Close</button>
                  <button type="submit"  class="btn btn-outline-success" [disabled]="commentaireForm.invalid">Envoyer</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>      